html {
  background-color: #3B3B3B;
}
main {
  padding: 2rem 7.5%;
  background-color: #3B3B3B;
}

main * {
  color: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* flexbox for page layout (so footer sticks to bottom of page) */
.appContainer { 
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* navbar & footer */
.bg-custom {
  background-color: #808080;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
  0 2px 2px rgba(0,0,0,0.12), 
  0 4px 4px rgba(0,0,0,0.12), 
  0 8px 8px rgba(0,0,0,0.12),
  0 16px 16px rgba(0,0,0,0.12);
}

.navbar-height {
  height: 45px;
}

.logo {
  font-weight: bold;
  color: white;
}

.footer {
  /* position: fixed; */
  /* position: absolute; */
  bottom: 0;
  width: 100%;  
  height: 35px;
  line-height: 35px;
  background-color: #d1d1d17c;
}

.footer .contact-info {
  color:rgba(85, 85, 85, 0.9)
}

.github-icon {
  color: black;
}

.github-icon:hover {
  color: gray;
}

.login-container {
  display: flex;
  flex-direction: row;
}

.login-button {
  flex: 1;
  margin: 5px;
  white-space: nowrap;
}

.login-text-container {
  display: flex;
  flex-direction: row;
  /* padding: 5px; */
}

.login-text-item {
  flex: 1;
  padding: 5px;
  white-space: nowrap;
}

.login-text {
  color: white;
  margin-top: 8px;
}

/* user profile section */
.nav-profile-pic {
  width: auto;
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  border-radius: 50%;
  padding: 20px;
  max-height: 300px;
  max-width: 300px;
}

.profile-img-submit-button {
  color: black;

}

#profile_img_upload[type="file"] {
  display: none;
}

.project-img-submit-button {
  color: black;

}

#project_img_upload[type="file"] {
  display: none;
}

/* profile pic in navbar */
/* .profile-pic-navbar {
  border-radius: 50%;
} */

.card * {
  color: black;
}

.card:hover {
  transform: scale(1.015);
}

.card-img-top {
  max-height: 200px;
  max-width: 300px;
}

.profile-img:hover {
  transform: scale(1);
}

/* home page blurb */
.blurb-box {
  border-radius: 25px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
}

.bg-blurb {
  background-size: cover;
  background-repeat: no-repeat;
}

.blurb-text * {
  width: 340px;
  color: black;
}

input {
  color: black;
}

.heart_button{
  color:red;
}

/* Profile Details Page */
.thumbnail {
  padding-top: 15px;
  padding-bottom: 15px;
  max-height: 300px;
  max-width: 300px;
}

.profile-text {
  text-align: center;
  color: white;
}